.name {
  color: orange;
}
.variety {
  color: orange;
}
.type {
  color: violet;
}
.bulkPrice_AR {
  color: yellowgreen;
}
.bulkWeight_kg {
  color: burlywood;
}
.welcome {
  color: orange;
  display: flex;
  justify-content: space-around;
  min-height: 92vh;
  max-height: 92vh;
  background-color: black;
}
.welcome .welcomeleft,
.welcome .welcomeright {
  background-color: #160c0c;
  border-radius: 10px;
  padding: 15px 40px;
  margin: 20px;
  width: 40%;
  flex-direction: column;
}
.welcome .welcomeleft {
  display: flex;
}
.welcome .welcomeleft .pleft {
  margin: auto;
  text-align: center;
  background-color: #2a2424;
  border-radius: 10px;
  padding: 10px;
}
.welcome .welcomeright .rightcontainer {
  padding: 10px;
  background-color: #2a2424;
  border-radius: 10px;
  margin: auto;
  text-align: center;
}
.center {
  justify-content: center;
}
.enterbox {
  background-color: rgba(18, 18, 18, 0.752);
  margin: 20px auto;
  border-radius: 1px;
  padding: 10px;
}
.enter {
  width: 191px;
  border-radius: 12px;
  padding: 4px;
  border: 3px solid gray;
  background-color: yellow;
  cursor: pointer;
  font-weight: bold;
}
.enter:hover {
  background-color: #ffff80;
}
.centertext {
  text-align: center;
}
.pointer {
  cursor: pointer;
}
.flex {
  display: flex;
}
.block {
  display: block;
}
.around {
  justify-content: space-around;
}
h3 {
  width: 300px;
  margin: auto;
}
.beginbutton {
  width: 191px;
  border-radius: 8px;
  padding: 4px;
  border: 3px solid gray;
  margin-bottom: 10px;
}
.begin {
  color: antiquewhite;
}
.title {
  background-color: white;
  color: black;
  border-radius: 15px;
  padding: 3px 6px 5px;
}
.content {
  padding: 5px;
  max-width: 240px;
  min-width: 200px;
  margin: auto;
}
/*Ajenos*/
.errors,
.noterr {
  font-size: 9px;
}
.errors {
  color: red;
}
.noterr {
  color: #ff2600;
}
.border {
  border: 3px solid green;
}
/*De <Up/>*/
#yellow {
  color: yellow;
}
#orangered {
  color: orangered;
}
.nav {
  width: 100vw;
  background-color: darkgoldenrod;
  color: black;
  min-height: 8vh;
}
.right {
  justify-content: right;
}
.between {
  justify-content: space-between;
}
.paddingx10 {
  padding-left: 10px;
  padding-right: 10px;
}
.inputEnter,
.enterButton,
.label {
  border-radius: 8px;
  margin: 0.5vh 0.5vh 0;
}
.inputEnter {
  height: 3.5vh;
  background-color: #181719;
  color: aliceblue;
}
.inputEnter::placeholder {
  color: #008000;
}
.enterButton {
  background-color: yellow;
  color: black;
  cursor: pointer;
  font-weight: bold;
  min-width: fit-content;
  margin-bottom: 0.5vh;
}
.forgetButton {
  margin: auto;
  padding: auto;
  color: yellow;
  cursor: pointer;
}
.forgetButton:hover {
  color: whitesmoke;
}
.error {
  height: fit-content;
  color: #c00000;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 8px;
  font-size: 12px;
  font-weight: bold;
  height: 2vh;
  margin: 0.5vh 0.5vh 0.25vh;
  padding: 0px 0px 0.5vh;
  text-align: center;
}
.borderred {
  border: 1px solid #c00000;
}
button:hover {
  font-weight: bold;
}
.divcheck,
.divchecked:hover {
  background-color: #202020;
  color: #a0a0a0;
  border: 2px solid #808080;
}
.divchecked {
  border: 2px solid yellowgreen;
}
.divchecked:hover {
  border: 2px solid yellowgreen;
}
.divcheck:hover {
  border: 2px solid #a0a0a0;
}
.divcheck:hover,
.divchecked {
  background-color: #282828;
  color: whitesmoke;
}
